body{
    position: relative;
    z-index: 0;
    margin:  5px ;

   
}
#red{
  
    height: 150px;
    width: 150px;
    background-color: red;

}
#blue{
    
    margin-top: -140px;
    margin-left: 10px;
    height: 150px;
    width: 150px;
    background-color: blue;

}
#yellow{
    margin-top: -140px;
    margin-left: 20px;
    height: 150px;
    width: 150px;
    background-color: yellow;

}