
#firstd{
    display: flex;
      margin: 20px;
   
}
.firstp{
    margin: 10px;
}

#thirdd{
    display: flex;
    margin: 20px;  
}
#secondd{
    margin: 20px; 
}
h1{
    margin: 30px;
}