
#firstd{
    width: 25%;
    float: left;
    margin: 2%;
}
#secondd{
    width: 25%;
    float: left;
    margin: 2%;
}
#thirdd{
    width: 25%;
    float: left;
     margin: 2%;
}
#clearfloat{
    clear: left;
}
p{
    max-width: 100%;
}
#clearfloat{
    clear: left;
}
#forthd{
    width: 40%;
    float: left;
    margin: 2%;
}
#fifthd{
    width: 40%;
    float: left;
    margin: 2%;   
}
h1{
    margin-left: 2%;
}
#scnd{
    margin-left: 2%;
}

