#scndcon{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
#firstd{
    margin: 10px;
}
#secondd{
    margin: 10px;
}
#thirdd{
    margin: 10px;
}
#thirdc{
    display: grid;
    grid-template-columns: 1fr 1fr ;
}
#fifthd{
    margin: 10px;
}
#sixthd{
    margin: 10px;
}

